* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background: #384b2b;
}

nav {
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  display: flex;
  flex-direction: row;
}

@media (max-width: 991px) {
  nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .burger {
    display: none;
    display: flex;
    flex-wrap: wrap;
  }
}

a:hover {
  color: #283720;
}

a {
  text-decoration: none;
  padding: 0 125px 0 0;
  text-align: center;
  margin: 30px 0 0 72px;
}

.background {
  background-image: url("../img/image-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 992px) {
  .background {
    margin-right: 340px;
    margin-top: 30px;
    background-size: 80%;
  }
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

.site {
  display: flex;
}

.site-side {
  background: #e6f5e0;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

@media (min-width: 992px) {
  .site-side {
    padding: 0px 75px 0px 75px;
  }
}

.container {
  padding: 0;
}

.logo {
  margin: 31px 16px 0px 16px;
  width: 38px;
  height: 214.183px;
}

@media (min-width: 992px) {
  .logo {
    width: 98px;
    height: 552.367px;
  }
}

h2 {
  color: #fff;
  font-family: Raleway;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 24px 8px;
}

@media (min-width: 992px) {
  h2 {
    font-size: 43px;
    margin-top: 60px;
    margin-left: 60px;
  }
}

.sticker {
  width: 93px;
  height: 98px;
  flex-shrink: 0;
  background: #e6f5e0;
  border-radius: 60px;
}

@media (min-width: 992px) {
  .sticker {
    width: 230px;
    height: 230px;
    border-radius: 120px;
    margin-top: 40px;
  }
}

.p-sticker {
  color: var(--Dark-green, #384b2b);
  text-align: center;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px 10px;
}

@media (min-width: 992px) {
  .p-sticker {
    font-size: 30px;
    padding-top: 65px;
  }
}

.intro {
  color: #fff;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 80px 76px 8px;
  padding-right: 70px;
}

@media (min-width: 992px) {
  .intro {
    font-size: 24px;
    margin: 40px 20px 0 60px;
  }
}

h3 {
  color: #fff;
  text-align: center;
  font-family: Rakkas;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 10px 103px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 992px) {
  h3 {
    font-size: 48px;
    margin-bottom: 10;
  }
}

.carte {
  text-align: left;
  margin: 0px 0px 25px 20px;
  padding: 0px;
}

@media (min-width: 992px) {
  .carte {
    margin-top: 120px;
    margin-left: 60px;
  }
}

h4 {
  color: #fff;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media (min-width: 992px) {
  h4 {
    font-size: 20px;
    padding-top: 50px;
  }
}

li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  list-style-type: none;
  color: #e6f5e0;
  font-family: Raleway;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
  margin-top: 10px;
  padding-bottom: 5px;
}

@media (min-width: 992px) {
  li {
    font-size: 20px;
    margin-left: 60px;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.button {
  color: var(--Dark-green, #384b2b);
  text-align: center;
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 60px;
  opacity: 0.5;
  background: #d9d9d9;
  padding: 4px 12px;
  margin: 30px 0px 50px 0px;
}

.button:hover {
  background-color: #ecf5e9;
}

@media (min-width: 992px) {
  .button {
    width: 323px;
    height: 48px;
    font-size: 22px;
    padding: 12px 0;
    margin: 60px 0px 76px 0px;
  }
}

.dish {
  aspect-ratio: 1.77;
  object-fit: cover;
  object-position: center;
  margin: 0px;
  padding: 0px;
}

.reservation {
  background-image: url("../img/restaurant-reserver.png");
  padding: 54px 0 54px 0;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.reserve:hover {
  color: #283720;
}

.hourly {
  background-image: url("../img/calendrier.png");
  padding: 54px 0px 54px 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}

.calendrier:hover {
  color: #283720;
}

.footer {
  padding-top: 53px;
  background: #283720;
}

.contact-details {
  padding: 60px 0 54px 0;
  background-image: url("../img/fourchettes.png");
  background-position: center;
  background-size: 70px;
}

@media (min-width: 992px) {
  .contact-details {
    background-size: 117px;
  }
}

.adress {
  color: var(--white-text, #fff);
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin-left: 20px;
  padding-bottom: 15px;
}

@media (min-width: 992px) {
  .adress {
    font-size: 32px;
    padding: 86px 86px 50px 60px;
  }
}

.symbol {
  margin: 0 0 0px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 60px;
}

@media (min-width: 992px) {
  .symbol img {
    width: 79px;
  }
}

.maps {
  width: 29px;
}

.mail {
  padding-left: 3px;
}
